<div class="container">
  <canvas
    baseChart width="450" height="450"
    [type]="'line'"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
    (chartClick)="chartClicked($event)"
  >
  </canvas>

  <div class="content-container">
    <div *ngIf="clicked" class="infoList">
      <ul>
        <li style="text-align: center;">
          <Strong>Highest consumption</Strong>
          <ul>
            <li *ngFor="let item of highestConsumptions">
              <ul class="statistics">
                <li>Date: <span style="color:red">{{ item.date | date : "EEE dd/MM/yyyy" }} </span></li>
                <li>Total: <span style="color:red">{{ item.consumption | number }} kwh </span></li>
                <li>Average: <span style="color:red">{{ item.consumption / 24 | number }} kwh </span></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div *ngIf="clicked" class="infoList">
      <ul>
        <li style="text-align: center;">
          <Strong>Lowest consumption</Strong>
          <ul>
            <li *ngFor="let item of lowestConsumptions">
              <ul class="statistics" style="color:white">
                <li>Date: <span style="color:green; text-align: right;">{{ item.date | date : "EEE dd/MM/yyyy" }} </span></li>
                <li>Total: <span style="color:green; text-align: right;">{{ item.consumption | number }} kwh </span></li>
                <li>Average: <span style="color:green; text-align: right;">{{ item.consumption / 24 | number }} kwh </span></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>