.content {
    padding: 20px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    h2 {
        text-align: center;
    }
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: left;
    gap: 20px;
    li {
      padding: 10px;
      background-color: #161b22;
      border-style: solid;
      border-color: lighten(#30363d, 10%);
      border-radius: 1em;
      box-sizing: border-box;
      min-height: fit-content;
      width: 350px;
    }
  }