nav {
    background: #161B22;

    border-style: solid;

    border-color: lighten(#30363D, 10%);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {

            a {
                color: white;
                padding: 20px;
                display: block;
                .topbarBtn {
                    padding: 3px;
                    background-color: #0D1117;
                    border-color: lighten(#0D1117,10%);
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    border-style:double;
                    border-radius: 1em;
                    transition: 0.3s;
                }
                .topbarBtn:active {
                    background-color: darken(#3975B8, 10%);
                    border-color: darken(#3975B8, 10%);;
                    border-style: inset;
                }
                
            }

        }
    }
    
}

