<div class="buttons">
    <button class="contentBtn" id="btn1" (click)="onButtonClick($event)">
        Your Consumption
      </button>
      <button class="contentBtn" id="btn2" (click)="onButtonClick($event)">
        Providers
      </button>
      <button class="contentBtn" id="btn3" (click)="onButtonClick($event)">
        Best Options
      </button>
</div>
<div class="content">
  <div class="tab" *ngIf="activeBtn == null" id="tab1">
    <ul>
      <li style="text-align: left;">
        Average Hourly Consumption By Date
        <ul>
          <br>
          <li>
            Shows average hourly consumption on each given date.
          </li>
        </ul>
      </li>
      <br>
      <li style="text-align: left;">
        Average Consumption By Hour
        <ul>
          <br>
          <li>
            Shows the average amount of power you consume throughout the day, hour by hour.
          </li>
        </ul>
      </li>
      <br>
      <li style="text-align: left;">
        Average Consumption By Day of Week
        <ul>
          <br>
          <li>
            Shows your average power consumption by day of the week.
          </li>
        </ul>
      </li>
    </ul>
  </div>
    <div class="tab" *ngIf="activeBtn == null" id="tab2" style="align-items: center; justify-content: center; text-align: left;">
      <ul>
        <li>
          Explains the differences between potential providers.
        </li>
        <br>
        <li>
          Shows available deals 
        </li>
      </ul>  
      
    </div>
    <div class="tab" *ngIf="activeBtn == null" id="tab3" style="align-items: center; justify-content: center;text-align: left;">
        <ul>
          <li>Our recommendation for your choice of provider and plan.</li>
          <br>
          <li>An estimated price for the best providers of each pricing model.</li>
        </ul>
    </div>
    <div class="hint" *ngIf="activeBtn != null && activeBtn.id == 'btn1'">
      <p><i>Click the graphs to reveal/hide points of interest.</i></p>
   </div>
    <div *ngIf="activeBtn != null && activeBtn.id == 'btn1'" id="contentDiv"> 
        <app-DayGraph></app-DayGraph>
        <app-hourly-graph></app-hourly-graph>
        <app-day-of-week></app-day-of-week>
    </div>
    <div *ngIf="activeBtn != null && activeBtn.id == 'btn2'" id="contentDiv">
        <app-providers></app-providers>
    </div>
    <div *ngIf="activeBtn != null && activeBtn.id == 'btn3'" id="contentDiv">
        <app-bestoptions></app-bestoptions>
    </div>
</div>
